page-login {

  ion-navbar{
      text-align: center;
  }

  #logo {     
      // height: 150px;
      // width: 150px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
  }

  .logo-div .item-md.item-block .item-inner {
      border-bottom: none;
  }


  .logo-div .item-ios.item-block .item-inner {
      border-bottom: none;
  }

  .input-section {
      transform: translate(0, 20vh);
  }

  .input-section ion-item {
      padding-left: 0px;
  }

  .separator {
      height: 25px;
  }

  .login-button {
      transform: translate(0, 20vh);
  }

}
